.cards{
  display:flex ; justify-content: space-around; margin-top: 50px;
}
.carousel{
  width: 600px; height: 300px; margin-left: 200px;
}
.buttons{
  margin: 75px; display: flex; justify-content: space-around;
}
